/* Your custom styles */

/* Tipografija*/
html {
	font-size: 20px;
  }
  
  @include media-breakpoint-up(sm) {
	html {
	  font-size: 22px;
	}
  }
  
  @include media-breakpoint-up(md) {
	html {
	  font-size: 26px;
	}
  }
  
  @include media-breakpoint-up(lg) {
	html {
	  font-size: 34px;
	}
  }
/*Tipografija end*/


section h2{
	margin:50px 0 50px;
}
.glavni{
	background-color:#ecf0ed;
	box-shadow: 5px 5px 5px 5px grey;
}
.lightboxSlike img{
	margin:10px;
	text-align:center;
	border-radius:10px;
	max-width:100%;
	height:auto;
}
.lightboxSlike a{
	
}
.lightboxSlike{
	margin:auto;
}
.login{
	width: 700px;
	height: auto;
}
.login h1{
	text-align: center;
	padding:30px 0 30px;
	margin:30px 0 30px;
}
.login button{
	margin:10px 0 30px;
}
.box{
	border-radius: 15px;
	padding: 60px;
	cursor: pointer;
}
.main-admin{
	margin-top: 50px;
}
.maska{
	border-radius: 15px;
	cursor: pointer;
}
.zeleniDiv{
	margin-bottom:20px;
}

select#soflow{
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}

#odabir{
	position:relative;
	left:-20px;
	top:-10px;
}
.adminIkone{
	margin:50px 0px;
}
.adminIkone button{
	border-radius: 40px;
}
/*Tablica*/
#tab-nav{
	font-size: 16px;
	height: 30px;
	margin-top: 10px;
	list-style: none;
}
#tab-nav ul{
	list-style: none;
	height: inherit;
}
#tab-nav ul li{
	background-color: rgba(218, 210, 210, 0.719);
	font-size: 18px;
	width: 30px;
	height: inherit;
	border-radius: 3px;
	border: 0.5px black solid;
	float: left;
	text-align: center;
}
#tab-nav ul li a{
	margin-top: 5px;
}
#tab-nav ul .aktivno{
	background-color: rgb(0, 102, 255);
}
th{
	cursor: pointer;
}
/*Slike u starim člancima*/
td img{
	
}